body {
    background-color: rgb(67, 67, 67);
    text-align: center;
}

#title {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#virtual-world {
    background-color: aquamarine;
}